@{
    ViewBag.Title = "Home Page";
}

<div class="container">

        <div class="row">
            <div class="col col-sm-3">
                <div id="sidebar" class="affix-top">
                    <div class="accordion" id="accordion1">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                    <h3 class="highlight">Schedules <i class="fa fa-calendar"></i></h3>
                                </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    <ul class="list-group">
                                        <li class="list-group-item">Week 1</li>
                                        <li class="list-group-item">Week 2</li>
                                        <li class="list-group-item">Week 3</li>
                                        <li class="list-group-item">Week 4</li>
                                        <li class="list-group-item-action">View entire schedule </li>
                                    </ul>
                                      
                                </div>
                            </div>
                        </div>

                    </div>
                    <ul class="nav flex-column">
                        <li><h3 class="highlight">Teams <i class="fa fa-table"></i></h3></li>
                        <li>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-dark">
                                    <th>Pos</th>
                                    <th>Club</th>
                                    <th>PL</th>
                                    <th>GD</th>
                                    <th>Pts</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Royal Blue</td>
                                            <td>4</td>
                                            <td>15</td>
                                            <td>12</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Grey</td>
                                            <td>4</td>
                                            <td>9</td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Light Blue</td>
                                            <td>4</td>
                                            <td>14</td>
                                            <td>9</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>Green</td>
                                            <td>4</td>
                                            <td>1</td>
                                            <td>7</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>White</td>
                                            <td>4</td>
                                            <td>-2</td>
                                            <td>3</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">6</th>
                                            <td>Yellow</td>
                                            <td>4</td>
                                            <td>-10</td>
                                            <td>3</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">7</th>
                                            <td>Black</td>
                                            <td>4</td>
                                            <td>1</td>
                                            <td>2</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">8</th>
                                            <td>Red</td>
                                            <td>4</td>
                                            <td>-22</td>
                                            <td>0</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                        <li>
                            <div class="card" style="width: 16rem;">
                        
                                <img class="card-img-top" src="" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Featured Player</h5>
                                    <p class="card-text">George Wiltshire</p>
                                    <p class="card-text">Nationality: Trinidad & Tobago</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        Club
                                        <span class="badge badge-primary badge-pill">Black Team</span>
                                    </li>
                                    <li class="list-group-item">
                                    Appearence
                                        <span class="badge badge-primary badge-pill">3</span>
                                    </li>
                                    <li class="list-group-item">
                                    Goals
                                        <span class="badge badge-primary badge-pill">3</span>
                                    </li>
                                    <li class="list-group-item">
                                    Chances created
                                        <span class="badge badge-primary badge-pill">5</span>
                                    </li>
                                </ul>
                                <div class="card-body">
                                    <a href="#" class="btn btn-dark">Player Profile</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="accordion" id="accordion2">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                    <h3 class="highlight">Top Scorers <i class="fa fa-user-circle"></i></h3>
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>Use @@Coming soon ......</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="card">
                    <br />
                    <h1>Mission Statement and Philosophy</h1>

                    <div class="row">
                        <div class="col-sm-8">
                            <img src="~/images/royal blue.jpg" class="img-fluid">
                        </div>
                        <div class="col-sm-4">
                            
                            @Html.ActionLink("Get Ready for playoffs, coming soon.", "News", "Home", new { area = "" }, new { @class = "nav-link" })
                            <hr>
                    
                        </div>
                    </div>
                     <br />
                    <h2>Mission Statement</h2>
                    <p>
                        Broward Professional League (BPL) is an adult, non-profit soccer league created to provide a platform for traditional
                         and intermediate soccer players to exercise and improve their fitness level. 
                        It is an after work/school program designed to keep the community healthy.
                         On this vein, one can understand that playing soccer is another way to do sport and stay healthy, as sometimes one may not have the motivation to go to the gym.
                         The advantage of doing sport is priceless.
                         And in almost every medical malaise, if not all, exercising is a way to control, retard or even prevent the attack of illnesses, as diabetes,
                         high blood pressure, heart disease, and depression, to name a few. The league provides just this medium. If you are 18 years old or older,
                         males and females, this league is your league of choice. 
                        The qualifying participants may come from all walk of life that includes the school based employees, students,
                         medical professionals, lawyers, friends, families, or anyone who meets the criteria the league advocates.
                         BPL will be sensitive to foster an environment of peace, violence free/tranquility and friendly to make soccer/sport a fun venue for all.
                    </p>

                    <br />
                    <h2></h2>
                    <p>
                        
                    </p>
                   
                    <br><br>
                    <!--<button type="button" class="btn btn-outline-dark">More</button>-->

                    <hr>

                    <h2>Philosophy</h2>
                    <img src="~/images/coopSoccer.png" class="rounded float-sm-right">
                    Our philosophy is to develop good and positive rapport with the participants and to make certain their journey with the league is unforgettable. 
                    Transparency and respect to all will be the core to its operation. We are committed to the recreation and maintenance of a peaceful and secured atmosphere. 
                    We are dedicated to address unforeseen circumstances/issues in a manner responsible and balance decision making. We embrace diversity and value the integrity
                     of all with no distinction. Through the program, participants will recognize the importance to self-engage in sport regiment to stay healthy.
                    <br><br>
                    <a href="" class="btn btn-outline-dark">More</a>

                    <hr>

                    <div class="row">
                        <div class="col col-sm-6">
                            <img src="~/images/noRefund.png" class="img-fluid">
                        </div>
                        <div class="col col-sm-6">
                            <h1>No refunds if you have played at least one game.</h1>
                        </div>
                    </div>

                    <hr>

                    <h2>Tournaments</h2>
                    The league organizes two (2) tournaments a year, Fall and Spring season, plays a total of ten (10) regular games per season and a post-season for six (6) teams with the best record.
                    Rained game delayed is to be postponed. The coordinator, in concertation with the City of Plantation, is responsible to reschedule the non-played games at the end of the regular season. 
                    <hr>

                    <h2>Games time</h2>
                    The games are to be played every Sunday at 6:15 PM and 8:00 PM on Pine Island Park (320 S. Pine Island RD., 
                    Plantation, FL. 33324), or Central Park, in Plantation (9151 NW 2nd Street, Plantation, FL. 33324)
                    <hr>

                    <h2>Fee of participation</h2>
                    The fee of participation is $ 55.00. We try to keep the fee low to allow almost everyone to be part
                    of this family of soccer and at the same times to be able to cover the expenses.
                    <hr>

                    <h2>Uniform</h2>
                    The league will provide a jersey respective to the team at the beginning of Fall Tournament,
                    and a pair of socks in spring season. The player is responsible for a black short pants, shin-guards, and cleats.
                    <hr>

                    <h2>To register, you need to:</h2>
                    <ul>
                        <li>Fill out the registration form</li>
                        <li>Fill out the waiver form for the city of operation</li>
                        <li>Pay the registration fee.</li>
                        <li><b>No player will allow on the field without the signed and dated waiver form</b></li>
                    </ul>
                    <hr>

                    <h2>Team selection</h2>
                    <ul>
                        <li>Submit the name of the team of preference</li>
                        <li>Sign up as free agents to be placed on a team</li>
                    </ul>
                    <hr>

                    <h2>Team names of active rosters</h2>
                    <ul>
                        <li>1.	Green</li>
                        <li>2.	Black</li>
                        <li>3.	Red</li>
                        <li>4.	White</li>
                        <li>5.	Grey</li>
                        <li>6.	Yellow</li>
                        <li>7.	Navy Blue</li>
                        <li>8.	Light Blue</li>
                    </ul>
                    <hr />

                    <h2>Eligibility of Participation</h2>
                    Players must be 18 years old and up, males or females.
                    <hr>

                    <h2>Rules standard during games</h2>
                    The Broward Premiere League will follow the FIFA and Plantation Adult Leauge Soccer Rules and Regulations, except
                    a substituting player may come back to the game as the team feels it necessary.Plantation Adult League soccer rules will
                    overwrite Fifa Rules since we play under their platform.
                    <hr>

                    <h2>Player Conduct</h2>
                    <ul>
                        <li>Two yellow cards are equivalent to a red card and one single red card is also an automatic 1 game suspension.</li>
                        <li>Any physical fight/altercation is an automatic 2 games suspension.</li>
                        <li>No daunting of referees will be allowed; respectful communication acceptable</li>
                        <li>No slide-tackles allowed. This is a measure to prevent or minimize the risk of injuries.
                            Tackling another player is an automatic yellow or red card depending on the severity. The
                            Referee is responsible to make the decision.
                        </li>
                        <li>Avoid arguing with referees, teammates, and other team.</li>
                        <li>Good sportsmanship conduct is required from all players. That includes no fighting or Pushing…… </li>
                        <li>Problems or concerns are addressed to the team captain during game time
                            we ask that there is respectful/cordial communication between captains, referees, and players.
                            In the event, a captain notices a player is argumentative and out of control with
                            the referee, that captain has the responsibility to remove that player from the game for a 5 min cool off  time. 
                            Likewise, the referee can proactively act, sitting the player for a 5 minutes
                             player continues with same behavior, that player is to be pulled off the game for that Occurrence.
                        </li>
                        <li>
                            referee issues a yellow, red, PK to a player: done deal, except we encourage
                            Fairness, conference with sideline referee if the call is obviously controversial.
                            punishment can always accompany with calm demeanor…no escalation.
                            most of the time explaining a call and allowing a player to say at least a word can solve
                            problem  and misunderstanding.Everyone must understand, we play the game to exercise. It is not a World Cup event. We
                            must install a friendly approach win or lose. All starts with the players’ attitudes and then the referees.
                        </li>
                    </ul>
                    <hr>

                    <h2>Playing Time/Length of Game</h2>
                    Teams will play 4 quarters of 20 minutes each 3-5 min interval between each quarter. 
                    <hr>

                    <h2>Player Requirement</h2>
                    <ul>
                        <li>
                           Each team must have at least 2 females on the field at all times, and team will play a maximum of nine (9) men.
                        </li>
                        <li>
                          A team  that does not meet the required 2 females, that team has to play a player down for each female player that is absent
                        </li>
                    </ul>
                    <hr>

                    <h2>Player Uniform/Attire</h2>
                    <ul>
                        <li>
                           Players have to wear the team jersey of the present season (black shorts, shin guards, and cleats that have no spikes) and the same color of socks. 
                        </li>
                        <li>
                           Jewelry and metal hair accessories are not allowed.
                        </li>
                    </ul>
                    <hr>

                    <h2>Provisions for adding players</h2>
                    <ul>
                        <li>
                            A team will be allowed to add and replace players that <b><u>DO NOT SHOW UP</u></b> for three (3) consecutive games regardless of the circumstances. Adding player(s) must fill out the registration and the waiver forms, and must be approved by the league before playing any game.
                        </li>
                        <li>
                            Players can be added up to game 5 and will be allowed to participate in the second half of the season; the league will decide the new player registration fee based on the distribution of original payment fee.
                        </li>
                    </ul>
                    <hr>



               


                    <h2><a href="#"><i class="fa fa-user"></i> <i class="fa fa-chevron-down"></i></a></h2>

                    <hr>
                    <hr>
                </div>
            </div>
        </div>


</div>







