@{
    ViewBag.Title = "Home Page";
}

<div class="container">

        <div class="row">
            <div class="col col-sm-3">
                <div id="sidebar" class="affix-top">
                    <ul class="nav flex-column">
                        <li><h3 class="highlight">Teams <i class="fa fa-table"></i></h3></li>
                        <li>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-dark">
                                    <th>Pos</th>
                                    <th>Club</th>
                                    <th>PL</th>
                                    <th>GD</th>
                                    <th>Pts</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>White</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Blue</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Green</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>Yellow</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>Brown</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </li>
                        <li>
                            <div class="card" style="width: 16rem;">
                        
                                <img class="card-img-top" src="~/images/playerInfo.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Featured Player</h5>
                                    <p class="card-text">Peter Lue</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        Club
                                        <span class="badge badge-primary badge-pill">White</span>
                                    </li>
                                    <li class="list-group-item">
                                    Appearence
                                        <span class="badge badge-primary badge-pill">9</span>
                                    </li>
                                    <li class="list-group-item">
                                    Goals
                                        <span class="badge badge-primary badge-pill">3</span>
                                    </li>
                                    <li class="list-group-item">
                                    Chances created
                                        <span class="badge badge-primary badge-pill">20</span>
                                    </li>
                                </ul>
                                <div class="card-body">
                                    <a href="#" class="btn btn-dark">Player Profile</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="accordion" id="accordion2">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                    Accordion
                                </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    <p>There is a lot to be said about RWD.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                    Accordion
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>Use @@media queries or utility classes to customize responsiveness.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="card">
                    <br />
                    <h1>This is Broward Premiere Leauge</h1>

                    <div class="row">
                        <div class="col-sm-8">
                            <img src="~/images/whiteTeam.jpg" class="img-fluid">
                        </div>
                        <div class="col-sm-4">
                            <img src="~/images/SoccerPlayers.jpg" class="img-fluid">
                            <h4>2018/2019</h4>
                            <hr>
                            <img src="~/images/early-bird-registration.png" class="img-fluid">
                        </div>
                    </div>

                    <h2>Things to Know</h2>
                    Research has been proving countless time, sport is a remedy for all medical conditions, whether it is in prevention,
                    or management of health/mental health, or weight loss. We play a full field 11 x 11. Our season is comprised of 10 games
                    regular season, and post season for qualified teams. One can
                    bring a complete team, or select a team of preference, or sign up as free agent to be placed on a team.


                    <h2>Content</h2>
                    Rrem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
                    eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                    sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
                    <br><br>
                    <button type="button" class="btn btn-outline-dark">More</button>

                    <hr>

                    <h2>Content</h2>
                    <img src="//placehold.it/150x100/EEEEEE" class="rounded float-sm-right">
                     Farmhand ida quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
                    eos qui ratione voluptatem sequi nesciunt. I met him on the Internet. He's a French model. Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                    sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
                    <br><br>
                    <button type="button" class="btn btn-outline-dark">More</button>

                    <hr>

                    <div class="row">
                        <div class="col col-sm-6">
                            <img src="/assets/example/bg_smartphones.jpg" class="img-fluid">

                        </div>
                        <div class="col col-sm-6">
                            <h1>There is still a lot to be said about the Responsive Web.</h1>
                        </div>
                    </div>

                    <hr>

                    <h2>Responsive Text</h2>
                    Eeaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
                    eos qui ratione voluptatem sequi nesciunt. Bootply is this awesomeness. Editor, prototype tool, adipisci velit,
                    sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut

                    <hr>

                    <h2>Responsive Images</h2>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
                    eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                    sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut

                    <hr>

                    <h2>Media Queries</h2>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
                    eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                    sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut


                    <h2><a href="#"><i class="fa fa-user"></i> <i class="fa fa-chevron-down"></i></a></h2>

                    <hr>
                    <hr>
                </div>
            </div>
        </div>


</div>







