@{
    ViewBag.Title = "Home Page";
}

<div class="container">

        <div class="row">
            <div class="col col-sm-3">
                <div id="sidebar" class="affix-top">
                    <ul class="nav flex-column">
                        <li><h3 class="highlight">Teams <i class="fa fa-table"></i></h3></li>
                        <li>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-dark">
                                    <th>Pos</th>
                                    <th>Club</th>
                                    <th>PL</th>
                                    <th>GD</th>
                                    <th>Pts</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>White</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Purple</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Green</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>Yellow</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>Black</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">6</th>
                                            <td>Red</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">7</th>
                                            <td>Navy Blue</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">8</th>
                                            <td>Grey</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </li>
                        <li>
                            <div class="card" style="width: 16rem;">
                        
                                <img class="card-img-top" src="~/images/playerInfo.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Featured Player</h5>
                                    <p class="card-text">Flop Flop</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        Club
                                        <span class="badge badge-primary badge-pill">White</span>
                                    </li>
                                    <li class="list-group-item">
                                    Appearence
                                        <span class="badge badge-primary badge-pill">9</span>
                                    </li>
                                    <li class="list-group-item">
                                    Goals
                                        <span class="badge badge-primary badge-pill">3</span>
                                    </li>
                                    <li class="list-group-item">
                                    Chances created
                                        <span class="badge badge-primary badge-pill">20</span>
                                    </li>
                                </ul>
                                <div class="card-body">
                                    <a href="#" class="btn btn-dark">Player Profile</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="accordion" id="accordion2">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                    <h3 class="highlight">Schedules <i class="fa fa-calendar"></i></h3>
                                </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    coming soon .....
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                    <h3 class="highlight">Top Scorers <i class="fa fa-user-circle"></i></h3>
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>Use @@Coming soon ......</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="card">
                    <br />
                    <h1>This is Broward Professional League</h1>

                    <div class="row">
                        <div class="col-sm-8">
                            <img src="~/images/whiteTeam.jpg" class="img-fluid">
                        </div>
                        <div class="col-sm-4">
                            <img src="~/images/soccerPlayers2.png" class="img-fluid">
                            <h4>2018/2019</h4>
                            <hr>
                            <img src="~/images/early-bird-registration.png" class="img-fluid">
                        </div>
                    </div>

                    <h2>Things to Know</h2>
                    Research has been proving countless time, sport is a remedy for all medical conditions, whether it is in prevention,
                    or management of health/mental health, or weight loss. We play a full field 11 x 11. Our season is comprised of 10 games
                    regular season, and post season for qualified teams. One can
                    bring a complete team, or select a team of preference, or sign up as free agent to be placed on a team.
                    <ul>
                        <li>
                            <strong> championship team receives special prices </strong>
                        </li>
                        <li>
                            <strong> free team jerseys and socks </strong>
                        </li> 
                        <li>
                            <strong> paid referees </strong>
                        </li>
                        <li>
                            <strong> 1/2 off registration fee for championship team follow up season </strong>
                        </li>     
                            
                            
                       
                    </ul>


                    <h2>Mission Statement</h2>
                    Broward Professional League (BPL) is an adult, non-profit soccer league created to provide a platform for traditional and intermediate
                    soccer players to exercise, and to improve their fitness level. It is an after work/school program designed to keep the community
                    healthy Playing soccer is another way to do sport and stay healthy, as sometimes the motivation to go to the gym may not be there.
                    The advantages of doing sport are priceless. In almost every medical malaise, if not all, exercising is a way to control,
                    retard or even prevent the attack of illnesses, as diabetes, high blood pressure, healthy heart, depression, to name a few.
                    The league provides just that medium. The age bracket is 25 and up for males; however, a team may have at least
                    2 players under 25 with the cut off age at 20. For females, the age bracket is 18 years of age.
                    The qualifying participants may come from all walks of life that include school based employees,
                    students, medical professionals, lawyers, friends, families, or anyone who meets the criteria to be
                    part of the friends and family league. BPL will be sensitive to foster an environment of peace,
                    violence free/tranquility, and friendly to make soccer/sport fun for all.
                    <br><br>
                    <button type="button" class="btn btn-outline-dark">More</button>

                    <hr>

                    <h2>Philosophy</h2>
                    <img src="~/images/coopSoccer.png" class="rounded float-sm-right">
                    Our philosophy is to develop good and positive rapport with the participants,
                     to make certain their journey with the league unforgettable. Transparency and respect
                     to all will be the core to its operation. We are committed to the recreation and maintenance
                     of a peaceful and secure atmosphere, and a friendly/responsible approach to promptly resolve
                     unforeseen circumstances. We embrace diversity and value the integrity of the individual.
                     Through the program, participants will recognize the importance to be involved in sport to stay
                     healthy by maintaining a program of sport regiment.
                    <br><br>
                    <button type="button" class="btn btn-outline-dark">More</button>

                    <hr>

                    <div class="row">
                        <div class="col col-sm-6">
                            <img src="~/images/early-bird-registration.png" class="img-fluid">
                        </div>
                        <div class="col col-sm-6">
                            <h1>There is still time to become part of our new league.</h1>
                        </div>
                    </div>

                    <hr>

                    <h2>Tournaments</h2>
                    The league holds active tournaments twice a year (2/year), Fall and Spring season,
                     and plays a maximum of 10 games per occurrence. Rainy game delayed is to be postponed,
                     and the league is responsible to make arrangement with the city of plantation to make-up games not played. 

                    <hr>

                    <h2>Game Time</h2>
                    Games are to be played every Sunday either 6:15 PM or 8:00 PM @@  320 S Pine Island Rd, Plantation, FL 33324 or Central Park, in Plantation (9151 NW 2nd Street, Plantation, FL. 33324)

                    <hr>

                    <h2>Cost for participation</h2>
                    The cost of registration is $ 55.00. Every player will have a Jersey at the beginning of Fall 
                    tournament, and a pair of socks in Spring season. The player is responsible for a black short pants, shin-guards, and cleats.


                    <h2><a href="#"><i class="fa fa-user"></i> <i class="fa fa-chevron-down"></i></a></h2>

                    <hr>
                    <hr>
                </div>
            </div>
        </div>


</div>







