@{
    ViewBag.Title = "Home Page";
}

<div class="container">

        <div class="row">
            <div class="col col-sm-3">
                <div id="sidebar" class="affix-top">
                    <div class="accordion" id="accordion1">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                    <h3 class="highlight">Schedules <i class="fa fa-calendar"></i></h3>
                                </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    coming soon .....
                                </div>
                            </div>
                        </div>

                    </div>
                    <ul class="nav flex-column">
                        <li><h3 class="highlight">Teams <i class="fa fa-table"></i></h3></li>
                        <li>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-dark">
                                    <th>Pos</th>
                                    <th>Club</th>
                                    <th>PL</th>
                                    <th>GD</th>
                                    <th>Pts</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Royal Blue</td>
                                            <td>2</td>
                                            <td>7</td>
                                            <td>6</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Grey</td>
                                            <td>2</td>
                                            <td>4</td>
                                            <td>4</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Light Blue</td>
                                            <td>2</td>
                                            <td>7</td>
                                            <td>3</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>White</td>
                                            <td>2</td>
                                            <td>4</td>
                                            <td>3</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>Green</td>
                                            <td>2</td>
                                            <td>-2</td>
                                            <td>3</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">6</th>
                                            <td>Yellow</td>
                                            <td>2</td>
                                            <td>-7</td>
                                            <td>3</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">7</th>
                                            <td>Black</td>
                                            <td>2</td>
                                            <td>2</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">8</th>
                                            <td>Red</td>
                                            <td>2</td>
                                            <td>-12</td>
                                            <td>0</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                        <li>
                            <div class="card" style="width: 16rem;">
                        
                                <img class="card-img-top" src="~/images/V__7107.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Featured Player</h5>
                                    <p class="card-text">Gabriel Alacon</p>
                                    <p class="card-text">Nationality: Colombia</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        Club
                                        <span class="badge badge-primary badge-pill">Light Blue</span>
                                    </li>
                                    <li class="list-group-item">
                                    Appearence
                                        <span class="badge badge-primary badge-pill">2</span>
                                    </li>
                                    <li class="list-group-item">
                                    Goals
                                        <span class="badge badge-primary badge-pill">4</span>
                                    </li>
                                    <li class="list-group-item">
                                    Chances created
                                        <span class="badge badge-primary badge-pill">7</span>
                                    </li>
                                </ul>
                                <div class="card-body">
                                    <a href="#" class="btn btn-dark">Player Profile</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="accordion" id="accordion2">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                    <h3 class="highlight">Top Scorers <i class="fa fa-user-circle"></i></h3>
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>Use @@Coming soon ......</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="card">
                    <br />
                    <h1>This is Broward Professional League</h1>

                    <div class="row">
                        <div class="col-sm-8">
                            <h2 style="color:#100fac;">White and Light Blue 8-0 yikes</h2>
                        </div>
                        <div class="col-sm-4">
                            <img src="~/images/Teams/PlayerNavyBlue.jpg" class="img-fluid">
                            @Html.ActionLink("Royal Blue is sailing smoothly", "News", "Home", new { area = "" }, new { @class = "nav-link" })
                            <hr>
                    
                        </div>
                    </div>

                    <h2>Now the league has started</h2>
                    <p>
                        Wow!!! last week was a comeback for White and Light Blue. They showed how strong they really are. Watch out for players like Gabriel Alacon,
                        4 Goals in one game. The worst part is he is a #2. You don't get defenders scoring like that but this guy has to be watched. White team had 8 goals also
                        and scored by 8 different people. This is what we call team spirit. Other teams in the league did what they need to do. It's semi-official <b>Royal Blue</b> is the
                        team to beat. They ran circles around Green. Green dropped like flies with injurys and lack of team sport from players that seemed not to want to work together.Yes we are
                        Just a recreational league but truth be told in the professional arena everyone has to play and be a team. Same goes in this league and it is reflected on wins. Black United,
                        one of our favorites but only has 1 point with such a talented team.How could this be possible. Red team needs to push and win the next game.Red's captain was out but I think they are
                        going to suprise us. More to come
                    </p>

                    <h2>Games Next Week</h2>
                    Broward Professional League (BPL). Catch all the action this Sunday Evening. Black takes on light blue as a visitor. This game is going to be a classic. Royal Blue visits Yellow at 6:15. Yellow
                    needs a comeback and this game might be theirs. White vs Grey at 8pm this one will is also a super game. We feel White will be superior over Grey or it will be an equal score. 
                    Red will visit Green. Red has a chance to get back in the league against Green. Lets see if Green will bring back their powerful Defense. It will be a hard game to call becuase Red is going to
                    fight and try to win.
                    <br><br>
                    <!--<button type="button" class="btn btn-outline-dark">More</button>-->

                    <hr>

                    <h2>Philosophy</h2>
                    <img src="~/images/coopSoccer.png" class="rounded float-sm-right">
                    Our philosophy is to develop good and positive rapport with the participants,
                     to make certain their journey with the league unforgettable. Transparency and respect
                     to all will be the core to its operation. We are committed to the recreation and maintenance
                     of a peaceful and secure atmosphere, and a friendly/responsible approach to promptly resolve
                     unforeseen circumstances. We embrace diversity and value the integrity of the individual.
                     Through the program, participants will recognize the importance to be involved in sport to stay
                     healthy by maintaining a program of sport regiment.
                    <br><br>
                    <button type="button" class="btn btn-outline-dark">More</button>

                    <hr>

                    <div class="row">
                        <div class="col col-sm-6">
                            <img src="~/images/early-bird-registration.png" class="img-fluid">
                        </div>
                        <div class="col col-sm-6">
                            <h1>There is still time to become part of our new league.</h1>
                        </div>
                    </div>

                    <hr>

                    <h2>Tournaments</h2>
                    The league holds active tournaments twice a year (2/year), Fall and Spring season,
                     and plays a maximum of 10 games per occurrence. Rainy game delayed is to be postponed,
                     and the league is responsible to make arrangement with the city of plantation to make-up games not played. 

                    <hr>

                    <h2>Game Time</h2>
                    Games are to be played every Sunday either 6:15 PM or 8:00 PM @@  320 S Pine Island Rd, Plantation, FL 33324 or Central Park, in Plantation (9151 NW 2nd Street, Plantation, FL. 33324)

                    <hr>

                    <h2>Cost for participation</h2>
                    The cost of registration is $ 55.00. Every player will have a Jersey at the beginning of Fall 
                    tournament, and a pair of socks in Spring season. The player is responsible for a black short pants, shin-guards, and cleats.


                    <h2><a href="#"><i class="fa fa-user"></i> <i class="fa fa-chevron-down"></i></a></h2>

                    <hr>
                    <hr>
                </div>
            </div>
        </div>


</div>







