
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><u>Game 5 can be decisive for the playoffs</u></h2>
<div class="container">
 
  <div class="row">
      <p>
          We are in game 4 and the stakes are pretty high. Their will only be six teams fighting in the playoffs. This means the bottom 2 will be out after the 10-game league. The table still gives the bottom two a chance to stay in the fight. A fight it will be because both Red and Black will have decisive games..
      </p>
      <p>
          The Red Devils will have a chance to stop the Royals (Royal Blue Teams) runaway train. They are the toughest team in the league. If the Red Devils can stop their winning streak they have three points and slow down the leader. If the Royals take another win then they will position themselves ahead and have a better chance in the playoffs.
      </p>
      <p>
          The Black Tigers (Team Black) are also in the race and should they win it will put them on the table with 4 points. However, if Green wins they can advance and even advance to first or second depending on goal difference and how the game goes between the Red Devils and Royals.
      </p>
      <p>
          Team White plays Team Light Blue. If team White wins they will advance with six. For White to advance to third place would mean they have to beat Light Blue by 7 goals and green to lose. On the other hand, if Light blue win and the Royals and Grey Team loose they could be number 1 this week. The stakes are high for both teams. We don’t take sides but we want to take the competitive road and see White Team win to stay in the fight. 
      </p>
      <p>
          Grey team plays Yellow Team. Grey Team is fighting to become First Place. They have two games and a tie. They beat powerhouse White team 2-0 and stopped them from advancing. They had a tough game with the Black Lions. If they win and the Royals loose they have a lead with 10 points at least for the week. Yellow comes from a loss against Navy Blue. The only team to come close to shutting down their winning streak. Yellows first game was won against the Roaring Lions 2-1 and loosing horribly to Powerhouse White 8-0 in the second week.
      </p>
      <p>
          <ul>Predictions:</ul>
          <br />
          Red Devils vs Royals: 2-2  Red go on the road to redemption.
          <br />
          Black Lions vs Les Celtics Verts: 2-1   Black Lions start roaring again.
          <br />
          White Team vs Light Blue: 6 – 1 White comes back.
          <br />
          Yellow Team vs Grey Team:  3 – 0 Yellow Team surprises the league.
      </p>
  </div>
  <div class="row">
      BPL NEWS.
  </div>
   
  


</div>




