
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nichole Haimes "Flecha Veloz"</h2>
<p>
    Royal Blue is their new official team name. These Royal players are unstoppable and fast.
      Players like Odane, Amad, Akeem, Kevin, Fabrizio, Jennifer and Road Runner Megan.
     The player to watch out is Megan Dias. Nichole scored a beautiful header against green opening the score to then win a 3-0 lead. 
    Akeem Thompson and Odane Gibbs make their game fluid passing the ball and setting up plays to score. 
    Brian was an amazing goalie against green stopping every chance in the first half.
     The first half we saw Green playing them well it was a 50-50 game. They showed their secret weapon Megan in the second half.
     She ran through the Green turtles letting this league know who this Royal team is.
</p>
<p>
    Green lost their Defense in the second half with injuries. 
    We expected the same players from the first game to defend. We noticed this game some of those players did not return to their position yet alone never took a rest. 
    Their tall forwards in the second half fell off the map and from the other side of the field we could observe the lack of sportsmanship on most of them.
    It's possible that some player never took advantage of substitution and at the end they got Injured. We want to see Greens first team.Their second game team needs alot of work.

    BPL NEWS.
</p>


