
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><u>Game 5 can be decisive for the playoffs</u></h2>
<div class="container">
 
  <div class="row">
      <p>
          We are in game 5 and the stakes are pretty high. Their will only be six teams fighting in the playoffs. This means the bottom 2 will be out after the 10-game league. The table still gives the bottom two a chance to stay in the fight. A fight it will be because both Red and Black will have decisive games..
      </p>
      <p>
          The Red Devils will have a chance to play the Black Lions both are at the bottom of the table. Who ever wins can get out of the bottom. The Black Lions are a strong team. the Red devils
          just got a goalie so it will be an entertaining match.
      </p>
      <p>
          Grey team plays the Royals, This game will decide who is the leader of the league. The Royals are on a winning streak. Both teams are strong and ahead.  
      </p>
      <p>
          Les Celtics Verts will play the White team. White team has the opportunity to come up to six points. Les Celtics Verts can win, tie or loose and they will be in the same position. If Les Celtics
          can win they will have 10 points. This could put them in second place if the Royals beat Grey.
      </p>
      <p>
         Light Blue will play against yellow. Yellow have a chance to add 3 more points and which would put them at 6 points like white. Light Blue come from beating the White team so they are
          not an easy team. 
      </p>
      <p>
          <ul>Predictions:</ul>
          <br />
          Red Devils vs Black Lions: 1-3 Black Lions win and fight for playoffs.
          <br />
          Grey vs Royals: 1-2  Royals win by a slight margin.
          <br />
          White Team vs Les Celtics Verts: 0 – 1 Green wins.
          <br />
          Yellow Team vs Light Blue:  3 – 0 Yellow Team surprises the league.
      </p>
  </div>
  <div class="row">
      BPL NEWS.
  </div>
   
  


</div>




