
@{
    ViewBag.Title = "ManageRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ManageRoles</h2>

<table class="table">
    <tr>
        <th>
            Email
        </th>
        <th>
            Locked Out
        </th>
        <th></th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>
               
            </td>
            <td>

            </td>
              
            <td>

            </td>
        </tr>
    }

</table>

