@model IEnumerable<LeagueExpress.Models.Player>
@{
    ViewBag.Title = "White";
    Layout = "~/Views/Teams/_LayoutTeam.cshtml";
}


@foreach (var item in Model)
{
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="~/images/Teams/PetrCech.jpg" height="175" alt="Card image cap">
            <div class="card-body">
                <h6 class="card-title">@Html.DisplayFor(modelItem => item.playerName)</h6>
                <h6 class="card-title">Goalkeeper</h6>
                <h6 class="card-title">Czech Republic</h6>
                <h7 class="card-title">Appearances: 0</h7>
                <h7 class="card-title">Cleansheets: 0</h7>
            </div>
        </div>


    </div>
}


