
@{
    ViewBag.Title = "White";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to White</h2>

<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Squad</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Fixture</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>

</div>

