@model IEnumerable<LeagueExpress.Models.Player>
@{
    ViewBag.Title = "White";
    Layout = "~/Views/Teams/_LayoutTeam.cshtml";
}

<div class="container-fluid">
    <div class="card-deck">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="card">
                    <img class="card-img-top" src="~/images/Teams/PetrCech.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title">@Html.DisplayFor(modelItem => item.playerFirstName)</h6>
                        <h6 class="card-title">@Html.DisplayFor(modelItem => item.playerPosition)</h6>
                        <h6 class="card-title">@Html.DisplayFor(modelItem => item.playerPlaceOfBirth)</h6>
                        <h7 class="card-title">Appearances: 0</h7>
                        <h7 class="card-title">Cleansheets: 0</h7>
                    </div>
                </div>
            </div>
        }
    </div>
</div>